<tr>
  <td><center><%= @found.company.name %></center></td>
  <td><center><%= @found.job_title %></center></td>
  <td><center><%= @found.description %></center></td>
  <td><center><%= decimalize(@found.wage) %></center></td>
  <td><center><%= @found.working_hours_desc %></center></td>
  <td><center><%= decimalize(@found.hours_weekly) %></center></td>
  <td><center><%= @found.shift %></center></td>
  <td><center><%= @found.start_date %></center></td>
  <td><center><%= @found.est_end_date %></center></td>
  <td><center><%= @found.te_placement_manager %></center></td>
  <td><center><%= @found.member_working %></center></td>
</tr>