<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</p>

      <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
