<%= form_for(company, html: {multipart: true}) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</p>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, "Company Name" %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field form-group">
    <%= f.label :description, "Company Description" %><br>
    <%= f.text_area :description, rows: 5, cols: 40 %>
  </div>

  <% if company.logo.exists? %>
    <%= image_tag company.logo.url %><br>
  <% end %>
  <div class="field form-group">
    <%= f.label :logo, "Add a company logo image" %><br>
    <%= f.file_field :logo %>
  </div>

  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
