<tr class="table_row">
  <td><%= @found.name %></td>
  <td><%= @found.description %></td>
  <% if logged_in? %>
    <td>
      <%= link_to "Show", @found %><br>
      <%= link_to "Edit", edit_company_path(@found) %><br>
      <%= link_to "Delete", @found, method: :delete, data: { confirm:
        "Are you sure you want to delete?" } %>
    </td>
  <% end %>
</tr>
