<% javascript_include_tag "side_panel" %>

<%= render "shared/side_panel_opener" %>

<div id="outer_wrapper">
  <%= render layout: "shared/side_panel" do %>
    <center>
      <div class="logo_medium btn btn-info">
        <% if @company.logo.exists? %>
          <div class="logo_text">
            <%= image_tag company.logo.url(:thumb) %>
            <h5><%= @company.description %></h5>
          </div>
        <% else %>
          <div class="logo_text">
            <h2><%= @company.name %></h2>
          </div>
        <% end %>
      </div>
    </center>
    <p class="side_panel_desc">
      <%= @company.description %>
    </p>
  <% end %>

  <%= render partial: "shared/listing_display", locals: {directory: "listings",
    directory_table: "companies"} %>
</div>

<center>
  <%= will_paginate @result, renderer: BootstrapPagination::Rails %>
</center>

<br>
<%= link_to "<< Back to Companies", companies_path %>
<% if logged_in? %>
  | <%= link_to "Edit", edit_company_path(@company) %>
  | <%= link_to "Delete", @company, method: :delete, data: { confirm:
  "Are you sure you want to delete?" } %>
<% end %>

<% if false %>
  <!-- Display on company side panel -->
  <div class="logo_medium">
    <% if @company.logo.exists? %>
      <%= image_tag @company.logo.url(:medium) %>
    <% else %>
      <h2 class="logo_text"><%= @company.name %></h2>
    <% end %>
  </div>
  <!-- Now for on social enterprise list -->
  <br>----
  <div class="logo_medium">
    <% if @company.logo.exists? %>
      <%= image_tag @company.logo.url(:medium) %>
    <% else %>
      <div class="logo_text">
        <h2><%= @company.name %></h2>
        <h5><%= @company.description %></h5>
      </div>
    <% end %>
  </div>
<% end %>
