<% provide(:title, @company.name) %>

<% javascript_include_tag "side_panel" %>

<%= render "shared/side_panel_opener" %>

<div id="outer_wrapper">
  <%= render layout: "shared/side_panel" do %>
    <center>
      <div class="logo_medium btn btn-info">
        <% if @company.logo.exists? %>
          <div class="logo_text_with_image">
            <%= image_tag @company.logo.url(:thumb) %>
            <h5><%= @company.description %></h5>
          </div>
        <% else %>
          <div class="logo_text">
            <h2><%= @company.name %></h2>
          </div>
        <% end %>
      </div>
    </center>
    <p class="side_panel_desc">
      <%= @company.description %>
    </p>
  <% end %>

  <%= render partial: "shared/listing_display", locals: {directory: "listings",
    directory_table: "companies"} %>
</div>

<center>
  <%= will_paginate @result, renderer: BootstrapPagination::Rails %>
</center>

<br>
<% if logged_in? %>
  <%= link_to "Edit", edit_company_path(@company) %>
  | <%= link_to "Delete", @company, method: :delete, data: { confirm:
  "Are you sure you want to delete?" } %>
  | <%= link_to "Delete All Listings", destroy_all_listings_companies_path(id: @company.id), method: :delete, data: { confirm: "Are you sure you want to delete all listings for this company?" } %>
<% end %>
